# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [61]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import json
import os

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
# Import API key

from api_keys import g_key

In [15]:

csv_path = os.path.join("Resources", "cities_weather_data_final.csv")
weather_df = pd.read_csv(csv_path)
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country Code
0,castro,-24.7911,-50.0119,293.56,79.0,1.0,2.97,BR
1,fortuna,40.5982,-124.1573,284.82,93.0,90.0,5.66,US
2,mar del plata,-38.0023,-57.5575,293.71,100.0,75.0,1.54,AR
3,hermanus,-34.4187,19.2345,295.37,44.0,74.0,1.79,ZA
4,korla,41.7597,86.1469,278.10,62.0,36.0,2.32,CN

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
#Configure gmaps
gmaps.configure(api_key=g_key)

In [83]:
#Use the Lat and Lng as locations and Humidity as the weight.

locations = weather_df[["Lat", "Lng"]]

humidity = weather_df["Humidity"]

100.0

In [84]:
#Plot Heatmap

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = humidity, point_radius = 10, max_intensity = max(humidity))

In [85]:
#Add the layer to the map

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [55]:
hotel_df = weather_df.loc[(weather_df["Max Temp"] > 150) & (weather_df["Max Temp"] <= 300)
                                    & (weather_df["Humidity"] >= 50) & (weather_df["Humidity"] < 70)
                                    & (weather_df["Cloudiness"] > 25) & (weather_df["Wind Speed"] < 10)]

hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country Code
4,korla,41.7597,86.1469,278.10,62.0,36.0,2.32,CN
8,ballina,-28.8667,153.5667,296.15,68.0,75.0,5.66,AU
11,uvinza,-5.1036,30.3911,299.78,68.0,57.0,1.25,TZ
14,punta arenas,-53.1500,-70.9167,283.15,66.0,75.0,6.17,CL
42,haines junction,60.7522,-137.5108,236.15,67.0,61.0,0.15,CA

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [57]:
#Set Hotel column into the df

hotel_df["Hotel Name"] = ""
hotel_df.head()

/Users/dmontufar/opt/anaconda3/envs/pythonData/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country Code,Hotel Name
4,korla,41.7597,86.1469,278.10,62.0,36.0,2.32,CN,
8,ballina,-28.8667,153.5667,296.15,68.0,75.0,5.66,AU,
11,uvinza,-5.1036,30.3911,299.78,68.0,57.0,1.25,TZ,
14,punta arenas,-53.1500,-70.9167,283.15,66.0,75.0,6.17,CL,
42,haines junction,60.7522,-137.5108,236.15,67.0,61.0,0.15,CA,

In [78]:
#Find hotels within 5000 meters of the cities

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
    "radius" : "5000",
    "type" : "lodging",
    "key" : g_key
}

#Use iterrows to iterate thorugh pandas dataframe

for index, row in hotel_df.iterrows():
    city = row["City"]
    lat = row["Lat"]
    lng = row["Lng"]
    
    # get location from df
    location = f"{lat},{lng}"
    
    #Add location to params dict
    
    params["location"] = location
    
    #Assemble URL and make API request
    
    response = requests.get(base_url, params = params).json()
    
    #print(json.dumps(response, indent = 4))
    
    try:
        
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
    except:
        print(f"Missing result for {city}, skipping...")

Missing result for uvinza, skipping...
Missing result for albany, skipping...
Missing result for tangzhai, skipping...

In [79]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country Code,Hotel Name
4,korla,41.7597,86.1469,278.10,62.0,36.0,2.32,CN,Gulisitan Hotel
8,ballina,-28.8667,153.5667,296.15,68.0,75.0,5.66,AU,Ramada Hotel & Suites by Wyndham Ballina Byron
11,uvinza,-5.1036,30.3911,299.78,68.0,57.0,1.25,TZ,
14,punta arenas,-53.1500,-70.9167,283.15,66.0,75.0,6.17,CL,Hotel Dreams Del Estrecho
42,haines junction,60.7522,-137.5108,236.15,67.0,61.0,0.15,CA,Parkside Inn
48,albany,42.6001,-73.9662,267.59,61.0,98.0,1.72,US,
54,mount isa,-20.7333,139.5000,299.15,69.0,100.0,5.88,AU,ibis Styles Mt Isa Verona
60,muros,42.7762,-9.0603,293.15,57.0,91.0,5.81,ES,Apartment Av. Castelao
82,ushuaia,-54.8000,-68.3000,285.15,58.0,75.0,7.20,AR,Albatros Hotel
131,lata,40.1629,-8.3327,292.04,56.0,94.0,6.26,PT,Casa Maquia
135,bethel,41.3712,-73.4140,271.48,69.0,90.0,2.57,US,Courtyard by Marriott Danbury
144,port alfred,-33.5906,26.8910,296.48,69.0,84.0,5.36,ZA,The Halyards Hotel
152,caronport,50.4501,-105.8179,243.15,69.0,37.0,4.12,CA,Pilgrim Inn
158,ndola,-12.9587,28.6366,299.80,56.0,28.0,4.66,ZM,Chabanga Lodge iSpot
160,kaseda,31.4167,130.3167,285.15,58.0,40.0,9.77,JP,Sun Stay Kaseda
171,taonan,45.3333,122.7833,259.81,65.0,81.0,2.05,CN,Makro Hotel
182,vardo,70.3705,31.1107,272.15,69.0,75.0,7.20,NO,Vardø Hotel AS
192,grand haven,43.0631,-86.2284,260.37,66.0,90.0,5.14,US,Holiday Inn Grand Haven-Spring Lake
221,saint george,37.1041,-113.5841,276.48,60.0,90.0,1.54,US,Best Western Plus Abbey Inn
224,severnyy,50.6770,36.5532,264.15,62.0,40.0,4.00,RU,Full House North Mini-Hotel
239,querfurt,51.3833,11.6000,275.37,55.0,100.0,4.66,DE,Hotel Zur Sonne
254,nishihara,26.1842,127.7558,291.15,51.0,75.0,6.17,JP,Minshuku Agaihama
258,hirara,24.8000,125.2833,291.15,68.0,40.0,3.60,JP,Hotel Atoll Emerald Miyakojima
262,lojt kirkeby,55.0833,9.4667,273.71,51.0,75.0,5.14,DK,Danland Løjt
275,skrunda,56.6833,22.0167,271.15,64.0,75.0,1.56,LV,Skrunda Manor
302,bathsheba,13.2167,-59.5167,299.15,61.0,40.0,9.26,BB,Atlantis Hotel
312,york,40.1254,-77.0000,274.15,60.0,90.0,2.06,US,Rodeway Inn
318,tekirdag,40.9780,27.5085,274.15,69.0,75.0,9.77,TR,Tekirdağ Yat Hotel
322,tangzhai,34.4328,116.5911,280.93,61.0,100.0,2.53,CN,
336,peniche,39.3558,-9.3811,290.37,63.0,95.0,5.36,PT,Hotel Star inn Peniche
343,susehri,40.1644,38.0867,283.43,50.0,38.0,4.06,TR,Su Vadi Hotel
355,darnah,32.7670,22.6367,284.41,61.0,62.0,9.75,LY,فندق الفردوس
366,shirvan,39.9509,48.8994,282.51,69.0,99.0,3.38,AZ,Nəriman Nərimanov küçəsi Şirvan Azərbaycan
367,kenai,60.5544,-151.2583,267.59,62.0,75.0,3.09,US,Aspen Extended Stay Suites
371,agapovka,53.2973,59.1348,260.15,61.0,40.0,3.00,RU,Gostinitsa Zhkkh
374,cockburn town,21.4612,-71.1419,298.15,69.0,40.0,4.12,TC,Osprey Beach Hotel
379,jumla,29.2747,82.1838,279.90,58.0,72.0,1.85,NP,"अन्नी घर, जुम्ला - Anni Ghar"
390,sao filipe,14.8961,-24.4956,296.52,63.0,85.0,3.00,CV,Tortuga B&B
395,athabasca,54.7169,-113.2854,246.15,69.0,89.0,3.09,CA,Athabasca Lodge Motel
400,oistins,13.0667,-59.5333,299.15,61.0,40.0,9.26,BB,Butterfly Beach Hotel
426,itoman,26.1247,127.6694,291.15,59.0,40.0,8.23,JP,Southern Beach Hotel & Resort Okinawa
444,constantine,36.3650,6.6147,280.15,61.0,75.0,1.03,DZ,Grand Hotel Cirta
446,kaitangata,-46.2817,169.8464,283.71,67.0,75.0,2.68,NZ,Kaitangata Motor Camp
449,plettenberg bay,-34.0527,23.3716,293.62,56.0,32.0,7.64,ZA,Thanda Vista B&B
450,ronne,55.1009,14.7066,274.15,69.0,100.0,5.66,DK,Griffen Spa Hotel
459,westport,41.1415,-73.3579,274.15,60.0,90.0,4.12,US,Norwalk Inn
460,byron bay,-28.6500,153.6167,296.15,68.0,75.0,5.66,AU,Backpackers Inn on the Beach
478,rawson,-43.3002,-65.1023,288.00,54.0,66.0,2.85,AR,Hosteria Sampedro
480,ilulissat,69.2167,-51.1000,260.15,56.0,75.0,5.66,GL,Hotel Arctic
497,nago,26.5881,127.9761,290.93,63.0,75.0,5.66,JP,Hotel Yugaf Inn Okinawa
501,san juan,-31.5375,-68.5364,292.97,67.0,58.0,6.31,AR,Hotel Provincial
520,qasigiannguit,68.8193,-51.1922,260.15,56.0,75.0,5.66,GL,Hotel Discobay
532,asau,46.4333,26.4000,270.93,59.0,96.0,2.20,RO,Casa Mika Ciobanus
546,xining,36.6167,101.7667,274.51,68.0,100.0,1.04,CN,Super Leisure Hotel

In [87]:
#Save DF 

csv_path = os.path.join("Resources", "hotels_data.csv")
hotel_df.to_csv(csv_path)

In [82]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country Code}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [104]:
# Add marker layer ontop of heat map

coordinates = list(zip(hotel_df["Lat"], hotel_df["Lng"]))
hotel_name = list(hotel_df["Hotel Name"])
markers = gmaps.marker_layer(coordinates, hover_text = hotel_name)

# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))